{% extends '@AropixelContact/Mail/base.html.twig' %}

{% block header %}Demande de contact{% endblock header %}
{% block content %}
    <p>&nbsp;</p>
    <p><strong>Bonjour</strong>,<br />
        Votre demande a bien été reçue.<br />
        Nous vous recontacterons dans les plus brefs délais.<br />
        Ceci est un message automatique, veuillez ne pas répondre.<br />

    </p>
{% endblock content %}
